body {
	font-family: 'Quicksand';
	color: #59626f;
	background: #e1f3f4;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.wrapper {
	overflow-y: auto;
	background: #ffffff;
	margin: 25px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	border-radius: 16px;

	.page {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
}
